<!DOCTYPE html>
<html>

<head>
    <title> Voices of Mumbai </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
</head>

<body>

	<form action="/upload" method="POST">

		<button>Upload</button>
		
	</form>

</body>

</html>